body{
    background-size: cover;
    background-position: center;
}
.heading2{
    width: 100%;
    height: 50px;
    font-size: 30px;
    word-spacing: 10px;
    letter-spacing: 2px;
    color: white;
    padding-top: 2px;
    font-family: Impact;
}

canvas {
    animation-name: example1;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

@keyframes example1 {
    from {
        box-shadow: 5px 5px 40px #03104a;
    }

    to {
        box-shadow: -5px 5px 40px #0fa5db;
    }
}

#s2{
    float: right;
    margin-right: 10px;
    font-size: 25px;
    background-color: rgb(61, 61, 61);
    font-family: 'Times New Roman';
    color: white;
}